/*******************************/
/*        Header styles        */
/*******************************/

header {
  position: relative;
  background-color: gray;
  margin-bottom: 15px;
  line-height: 40px;
}

.login-buttons {
  text-align: left;
}

.login-buttons a {
  color: #000;
}

.title {
  font-size: 25px;
  text-align: center;
}

.profile {
  text-align: right;
}

/*******************************/
/*       App body styles       */
/*******************************/

.welcome {
  position: relative;
   text-align: center;
   font-size: 30px;
   margin: 100px auto;
   border: 3px solid #000;
   border-radius: 5px;
   width: 400px;
   background-color: rgba(0, 0, 0, 0.5);
}

.welcome span {
  font-size: 20px;
}

.application {
  position: relative;
}

.application-body {
  padding: 0 15px;
}

/*******************************/
/*     .friends-bar styles     */
/*******************************/

.friend {
  cursor: pointer;
}

.friends-bar {
  border-right: 2px solid #000;
}

.friends-bar section {
  margin-bottom: 10px;
  border-top: 3px solid #000;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}

.friends-bar p {
  background-color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  padding: 10px;
}

.friends-bar input[type="text"],
.friends-bar input[type="submit"] {
  width: 100%;
}

.friends-bar input[type="checkbox"] {
  margin-left: 8px;
}

.friends-bar input[name="requestedFriend"] {
  margin-left: 5%;
  width: 90%;
}

.friends-bar ul {
  list-style: none;
  padding-left: 0;
  padding-bottom: 8px;
}

.friends-bar li {
  position: relative;
  padding-left: 8px;
}

.friends-bar li:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.controls {
  position: relative;
  display: inline-block;
}

.friends-bar .controls {
  position: absolute;
  right: 5px;
  bottom: 1px;
}

.control {
  padding: 0 2px;
  font-size: 9px;
  background-color: transparent;
  border: none;
}

.control:hover {
  background-color: transparent;
}

.control.add {
  color: #0a0;
}

.control.remove {
  color: #a00;
}

.control.add:hover {
  color: #0f0;
}

.control.remove:hover {
  color: #f00;
}

/*******************************/
/*      .nav-tabs styles       */
/*******************************/

.nav-tabs .control {
  margin-left: 5px;
  border-radius: 50%;
}

.nav > li > a {
  padding: 10px;
}

/*******************************/
/*        .chat styles         */
/*******************************/

.chat {
  width: 400px;
}

.chat input {
  width: 100%;
}

.display-messages {
  height: 400px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.display-messages p {
  width: 70%;
  position: relative;
  padding: 5px 10px;
  border-radius: 10px;
}
.display-messages p {
  background-color: green;
}

.display-messages p.current-user {
  background-color: yellow;
  left: 30%;
}
