<head>
  <title>Radio Mileva</title>
</head>

<body>
  <section class="application container-fluid">
    <header class="row">
      <div class="col-xs-3 login-buttons">
        {{> loginButtons}}
      </div>
      <div class="col-xs-6 title">
        <span>Radio Mileva</span>
      </div>
      <div class="col-xs-3 profile">
        {{#if currentUser}}
          {{> profile}}
        {{/if}}
      </div>
    </header>

    {{#if currentUser}}
      <section class="application-body row">
        <aside class="friends-bar col-lg-2 col-sm-3 col-xs-12">

            {{> friendsList}}

            {{> acceptFriendRequests}}

            {{> searchForFriends}}

        </aside>

        <section class="main cole-lg-10 col-sm-9 col-xs-12">
          <ul class="nav nav-tabs" role="tablist">
            {{#each friendsInChat}}
              {{> chatTabName}}
            {{/each}}
          </ul>
          <section class="chats tab-content">
            {{#each friendsInChat}}
              {{> chatTabPanel}}
            {{/each}}
          </section>
        </section> <!-- END .main -->
      </section> <!-- END .application-body -->
    {{else}}
      <section class="welcome">
        <p>Welcome to radio Mileva! <br> <span>Login to continue</span></p>
      </section>
    {{/if}}
  </section> <!-- END .application -->
</body>

<template name="controls">
  <div class="controls">
    {{#if add}}
      <button class="btn btn-xs btn-success control add" value="{{name}}"><span class="glyphicon glyphicon-plus"></span></button>
    {{/if}}
    {{#if remove}}
      <button class="btn btn-xs btn-danger control remove" value="{{name}}"><span class="glyphicon glyphicon-remove"></span></button>
    {{/if}}
  </div>
</template>

<template name="chatTabName">
  <li role="presentation">
    <a id="activate-{{this}}" href="#{{createChatId this}}" data-chatid="{{createChatId this}}" role="tab" data-toggle="tab" aria-controls="with-{{this}}">
      {{this}}
      {{#with this}} {{! Current context object must be explicitly passed}}
        {{> controls remove="true" name=this}}
      {{/with}}
    </a>
  </li>
</template>

<template name="chatTabPanel">
  <section id="{{createChatId this}}" class="chat tab-pane" role="tabpanel">
    <section class="display-messages" name="messagesWindow">
      {{#if chat}}
        {{#each chat.messages}}
          <p class="message message-from-{{from}} {{#if fromCurrentUser from}}current-user{{/if}}">
            {{ content }}
          </p>
        {{/each }}
      {{else}}
        <span>No messages yet!</span>
      {{/if}}

    </section>
    <form data-chatid="{{createChatId this}}">
      <input type="text" id="for-{{this}}" name="sendMessage" placeholder="{{currentUser.username}}, enter message for {{this}}">
    </form>
  </section>
</template>

<template name="profile">
  <span class="btn btn-default">Profile</span>
</template>

<template name="friendsList">
  <section class="friends-list">
    <p>Your friends:</p>
    <ul>
      {{#each userFriends}}
        {{> friend}}
      {{/each}}
    </ul>
  </section>
</template>

<template name="friend">
  <li>
    <strong class="friend">{{this}}</strong>
    {{#with this}} {{! Current context object must be explicitly passed}}
      {{> controls remove="true" name=this}}
    {{/with}}
  </li>
</template>

<template name="acceptFriendRequests">
  <section class="accept-friend">
    <p>Accept friends:</p>
    <ul>
      {{#each displayRequestsFrom}}
        {{> friendRequest}}
      {{/each}}
    </ul>
  </section>
</template>

<template name="friendRequest">
  <li>
    <strong>{{this}}</strong>
    {{#with this}} {{! Current context object must be explicitly passed}}
      {{> controls add="true" remove="true" name=this}}
    {{/with}}
  </li>
</template>

<template name="searchForFriends">
  <section class="find-friend">
    <p>Search for a friend:</p>
    <form>
      <input type="text" name="requestedFriend" placeholder="New Friend Name">
    </form>
    <br>
    {{> friendRequestsTo}}
  </section>
</template>

<template name="friendRequestsTo">
  <ul>
    {{#each displayRequestsTo}}
      {{> request}}
    {{/each}}
  </ul>
</template>

<template name="request">
  <li>
    <strong>{{this}}</strong>
    {{#with this}} {{! Current context object must be explicitly passed}}
      {{> controls remove="true" name=this}}
    {{/with}}
  </li>
</template>
